* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #3498DB, #2E86C1);
}

.btnStart {
    padding: 20px 40px;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc;
}

.btnStart:active {
    background-color: #ccc;
}

.container {
    display: none;
    background-color: #FFF;
    padding: 20px;
}

.logo {
    color: #2E86C1;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.question-container {
    margin: 20px;
    font-size: 2rem;
}

.options-container {
    margin: 20px;
}

.options {
    margin: 10px 0;
}

.options input {
    margin: 15px 0;
}

.nextBtn-Container {
    text-align: center;
}

.nextBtn-Container button {
    padding: 10px 20px;
    background-color: #2ECC71;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

.showResults-container {
    display: none;
    text-align: center;
    padding: 25px;
    background-color: #FFF;
}

.showResults-container p {
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.showResults-container button {
    margin: 15px;
    padding: 10px;
    background-color: #2ECC71;
    outline: none;
    border: none;
    cursor: pointer;
}

.showResults-container button:active {
    background-color: #26a159;
}